{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "<tsconfigRootDir>/**/*/tsconfig.json",
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["**/__test__/**/*", "*.json", "*.md"],
  "root": true,
  "env": {
    "es2020": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-require-imports": "off",
    "prefer-const": "off"
  }
}
