# compiled output
/dist
package-lock.json
yarn.lock

# dependencies
node_modules
.pnp
.pnp.js

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# testing
coverage
/coverage
/.nyc_output
test-report.xml
packages/*/test-report.xml
./packages/*/test-report.xml
junit.xml
packages/*/junit.xml
./packages/*/junit.xml
packages/*/test-results
./packages/*/test-results
packages/*/test-results/*
./packages/*/test-results/*
packages/*/test-results/test-report.json
./packages/*/test-results/test-report.json
packages/*/test-results/*.json
./packages/*/test-results/*.json
mochawesome-report
./mochawesome-report
mochawesome-report/*
./mochawesome-report/*
mochawesome.json
./mochawesome.json
.sonarcloud.properties
sonar-project.properties
.scannerwork

# next.js
.next/
out/
build
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log
lerna-debug.log*

# FILES
*.tgz
*.zip
*.rar
*.sh

# DATA
mongo_data
./*/mongo_data
./packages/**/*/mongo_data
./packages/test-utils/src/testcontainers/mongo_data
postgres_data
./*/postgres_data
./packages/**/*/postgres_data
./packages/test-utils/src/testcontainers/postgres_data
.mysql-data
./*/.mysql-data
./packages/**/*/.mysql-data
./packages/test-utils/src/testcontainers/.mysql-data

# local env files
./*.env
./.*.env
.*.env
./.env.*
.env.*
.env

# turbo
.turbo

